@import "fonts";
@import "mixins";
@import "variables";
@import "bootstrap";
@import "ant";
@import "toastify";

html,
body {
  height: 100%;
  font-family: Segoe Pro Regular;
}

#root {
  height: inherit;
}

a {
  color: $color-link;
}

/* Scroll */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: $color-brand-primary;
  border: none;
  border-radius: 5px;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}

.horizontal-flow {
  display: flex;
  flex-direction: row;
}

.justify-content-space-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.p-t-10 {
  padding-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.right {
  text-align: end;
}

.horizontal-flow {
  display: flex;
}

.seperator {
  border-bottom: 1px solid #dee2e6;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
